# LLM Configuration
LLM_PROVIDER=google              # openai | google | ollama
OPENAI_API_KEY=sk-xxx
GOOGLE_API_KEY=xxx
OLLAMA_BASE_URL=http://localhost:11434

# Embedding Model
EMBEDDING_MODEL=models/gemini-embedding-2

# Vector Store
CHROMA_PERSIST_DIR=./vectorstore/chroma_db

# Scraping
SCRAPE_SOURCE_URL=https://www.indmoney.com/mutual-funds/amc/navi-mutual-fund

# App
APP_HOST=0.0.0.0
APP_PORT=8000
